# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log
.env

# Django
/staticfiles
/media

# VS Code
.vscode/

# Tailwind / Node
node_modules/
theme/node_modules/

# OS
.DS_Store
Thumbs.db
