{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">
    <header class="flex border border-red-500 justify-between h-[10vh] items-center px-8">
      <h1>Pro<span>Planner</span></h1><nav>
        <ul class="flex w-[30vw] justify-between">
          {% if not user.is_authenticated %}
            <li>
              <a href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li>
              <a href="{% url 'login' %}">Log In</a>
            </li>
          {% endif %}

          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a href="#">Projects</a>
            </li>
            <form action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="Logout" />
            </form>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}

    {% endblock %}
  </body>
</html>
